.productPage {
    display: flex;
    width: 80%;
    margin: 40px auto;
    justify-content: space-between;
}

.productImages {
    display: flex;
}

.productInfo {
    width: 40%;
    text-align: center;
}

.product-title {
    margin: 0;
}

.images {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 20px;
}

.description {
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    word-wrap: break-word;
}

.images img {
    width: 100px;
    cursor: pointer;
    height: 100px;
    margin-bottom: 15px;
    border-radius: .625rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
}

.mainImage img {
    width: 440px;
    height: 520px;
    border-radius: .625rem;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, .1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, .1), 0 0.25rem 0.53125rem rgba(90, 97, 105, .12), 0 0.125rem 0.1875rem rgba(90, 97, 105, .1);
}

.price {
    margin: 0;
}

.selects {
    display: flex;
    justify-content: center;
}

.productPage .select {
    margin-left: 5px;
}

.form-group {
    margin-left: 20px;
    margin-top: 10px;
}

.addBasket {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin-top: 30px;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: red;
    border-color: #fff;
    line-height: 1.5;
    width: 200px;
    padding: 10px;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}