.nav-link {
    padding: .625rem .625rem;
    transition: all 250ms cubic-bezier(.27, .01, .38, 1.06);
    font-weight: 400;
}

.footerComponent {
    display: flex;
    height: 20px !important;
    margin-top: 20px;
}

.main-footer {
    display: flex;
    flex-direction: column;
    height: 2.8rem;
    border: 1px solid #e1e5eb !important;
    padding:0 .5rem;
    background-color: #fff !important;
    margin-top: auto;
    height: 60px !important;
}



.footerComponent ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    height: 40px;
}

.main-footer .nav-link {
    padding: .625rem .625rem;
    transition: all 250ms cubic-bezier(.27, .01, .38, 1.06);
    font-weight: 400;
}

.copyright {
    margin-left: auto !important;
    margin-bottom: auto !important;
    margin-top: auto !important;
    margin-right: 1.5rem !important;
}



.nav-item {
    list-style-type: none;
}

a {
    color: #007bff;
}